<body>
    <div class="text-center">
        <h1 style="color: bisque; font-family: Georgia, 'Times New Roman', Times, serif;">Vuelos internacionales y nacionales</h1>
    </div>
    <div class="card-columns">
        <div class="card">
            <img src="../../assets/img/vuelo1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Viaje a Cancun</h5>
                <p class="card-text">Es una ciudad planificada mexicana ubicada en el estado de Quintana Roo, cabecera del municipio de Benito Juárez. Se encuentra en el este de México, a más de 1600 km de la Ciudad de México.</p>
                <h6>Aqui puedes encontrar información</h6>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/img/vuelo2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Viaje a Puerto Vallarta</h5>
                <p class="card-text">Es una ciudad y puerto mexicano ubicado en el estado de Jalisco, en la región Costa Sierra Occidental de la entidad, a 196 km de Guadalajara, la capital del estado; siendo la cabecera del municipio homónimo.</p>
                <h6>Aqui puedes encontrar información</h6>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/img/vuelo3.webp" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Viaje a Mazatlán</h5>
                <p class="card-text">Es una ciudad ubicada en el estado mexicano de Sinaloa, cabecera del municipio del mismo nombre.Es apodada como: La perla del Pacífico</p>
                <h6>Aqui puedes encontrar información</h6>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/img/vuelo4.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Viaje a Japón</h5>
                <p class="card-text">Es un país insular de Asia Oriental ubicado en el noroeste del océano Pacífico. Limita con el mar del Japón al oeste y se extiende desde el mar de Ojotsk en el norte hasta el mar de la China Oriental y Taiwán en el sur.</p>
                <h6>Aqui puedes encontrar información</h6>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/img/vuelo5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Viaje a Durango</h5>
                <p class="card-text">Oficialmente Estado Libre y Soberano de Durango, es uno de los treinta y un estados que, junto con la Ciudad de México, conforman México. Su capital y ciudad más poblada es Victoria de Durango. Está dividido en treinta y nueve municipios.</p>
                <h6>Aqui puedes encontrar información</h6>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/img/vuelo6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Viaje a Estados Unidos</h5>
                <p class="card-text">Es un país soberano constituido en una república federal constitucional compuesta por cincuenta estados y un distrito federal. Su capital es Washington D. C. y su ciudad más poblada es Nueva York.</p>
                <h6>Aqui puedes encontrar información</h6>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/img/vuelo7.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Viaje a Canada</h5>
                <p class="card-text">Es un país soberano ubicado en América del Norte, cuya forma de gobierno es la monarquía parlamentaria federal. Su territorio está organizado en diez provincias y tres territorios.</p>
                <h6>Aqui puedes encontrar información</h6>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/img/vuelo8.jpg" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Viaje a Puebla</h5>
                <p class="card-text">Es uno de los treinta y un estados que, junto con la Ciudad de México, conforman México; ubicado en el altiplano central de México, su capital y ciudad más grande es Puebla de Zaragoza.</p>
                <h6>Aqui puedes encontrar información</h6>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/img/vuelo9.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Viaje a Rusia</h5>
                <p class="card-text">Es el país más extenso del mundo, con una superficie de 17 125 191 km²,​ equivalente a algo más de la novena parte de la tierra firme del planeta, y posee una gran variedad de relieve y de ecosistemas. Su capital es la ciudad federal de Moscú.</p>
                <h6>Aqui puedes encontrar información</h6>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/img/avi.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Viaje a Australia</h5>
                <p class="card-text">Es un país soberano que comprende la parte continental del continente australiano o Sahul, la isla de Tasmania y numerosas islas menores. Su capital es Canberra y su ciudad más poblada es Sídney.</p>
                <h6>Aqui puedes encontrar información</h6>
            </div>
        </div>
    </div>
</body>