<div class="cont">
    <div class="fixed-top">
        <a href="index.html">
            
        </a>
    </div>
    <div id="contenedor">
        <p id="textTitulo">CRÉDITOS</p>
        <p id="text">Proyecto Universitario</p>
        <p id="text">Universidad Autónoma de Aguascalientes</p>
        <p id="text">Tecnologías Web</p>
        <p id="text">Ingeniería en Sistemas Computacionales</p>
        <p id="text">Semestre 6° "A"</p>
        <p id="text">Aguascalientes, Ags</p>
        <p id="text">13/05/2023</p>
        <br><br><br>
        <p id="textTitulo">PROGRAMADORES</p>
        <br><br>
        <div class="d-flex justify-content-center" id="contenedor">
            <div class="card" style="width: 18rem;">
                <img src="../assets/img/Carolina.jpg" class="card-img-top" alt="...">
                <div class="card-body" id="colorTarjeta">
                    <h5 class="card-title">Ana Carolina De La Peña Gallegos</h5>
                    <p class="card-text">Responsable, trabajadora y comprometida con lo que se dispone a hacer.
                    </p>
                    <a href="https://www.facebook.com/carolina.delapena.712" class="btn btn-success">Redes
                        Sociales</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../assets/img/Andrew.jpg" class="card-img-top" alt="...">
                <div class="card-body" id="colorTarjeta">
                    <h5 class="card-title">Andrew Rafael Abundez Elias</h5>
                    <p class="card-text">Creativo, responsable y autodidacta</p>
                    <a href="https://www.facebook.com/andrew.abundez/" class="btn btn-success">Redes
                        Sociales</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../assets/img/Ulises.jpg" class="card-img-top" alt="...">
                <div class="card-body" id="colorTarjeta">
                    <h5 class="card-title">Edgar Ulises Neri Duron</h5>
                    <p class="card-text">Estudioso y responsable con sus debéres</p>
                    <a href="https://www.facebook.com/ulises.neri.127" class="btn btn-success">Redes Sociales</a>
                </div>
            </div>
            </div>
        </div>
    </div>

