<!-- componente hijo -->
<p>Es el país con más gente mayor y con una de las tasas de natalidad más bajas
  El 21% de la población de Japón tiene más de 65 años. Se espera que el año 2050, Japón tenga 95 millones de habitantes mientras que ahora tiene 130. Por nuestra experiencia, la gente mayor es increíblemente amable.</p> 
  <!-- mensaje del padre -->
<p> {{texto}}</p>
<a href="http://viajes.nationalgeographic.com.es/p/japon">
<input type="button" (click)="enviarPadre()" value="Ver mas informacion..." />
</a>

